@import "./custom_colors";

.notesStyle {
  background-color: $custom-purple;
  min-height: calc(100% - 70px);
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.headerNotes {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 20px 40px;
}

#createButton {
  background-color: #4caf50;
  border: none;
  width: 150px;
  height: 60px;
  border-radius: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 25px;
  box-shadow: black 5px 5px 10px;
  margin-right: 30px;
}

.search{
  color: white;
  label{
    margin-right: 5px;
  }
  input{
    border-radius: 5px;
    border: none;
  }
  input::placeholder {
    padding-left: 5px;
    font-size: 15px;
    opacity: .5;
}
}

#searchIcon {
  background-color: rgb(120, 255, 120);
  margin: 0 2px 0 5px;
  border: none;
  border-radius: 5px;
}

#cleanIcon {
  background-color: rgb(255, 64, 64);
  border: none;
  border-radius: 5px;
}



.headerTexts {
  color: white;
  font-size: 50px;
  p {
    font-size: 20px;
  }
}

.boxNotes {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin: 20px 40px 0px 40px;
  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
  }
}

.boxNote {
  display: block;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  min-height: 30vh;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: black 5px 5px 10px;
  margin: 5px;
  padding: 20px;
  cursor: none;
}

.boxInfos {
  p {
    text-align: left;
  }
}

.boxTop {
  display: flex;
  justify-content: right;
  button {
    margin: 0 10px 20px 0;
    cursor: pointer;
    border-radius: 5px;
    border: none;
  }
  button:hover {
    box-shadow: rgba(0, 0, 0, 0.201) 1px 1px 10px 1px;
  }
}

.boxInfos {
  width: 80%;
  height: 80%;
  cursor: pointer;
}

.modal-open {
  overflow: unset;
  overflow-y: scroll;
  padding-right: 0 !important;
}



