@import "./custom_colors";

.notesStyle {
  background-color: $custom-grey;
  height: calc(100% - 70px);
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.bm-menu {
  background-color: rgba(0, 0, 255, 0.285);
  padding-left: 30px;
  color: white;
}

#react-burger-menu-btn {
  display: none;
}

// .list-item{

// }

.list-item-is-active {
    background-color: white;
}

.tag {
  margin-bottom: 10px;
}

button{
  margin-bottom: 20px;
}